@import url('https://fonts.googleapis.com/css2?family=Asimovian&display=swap');

@import "tailwindcss";
@plugin "daisyui";

.font-logo {
    font-family: "Asimovian", sans-serif;
    font-weight: 400;
    font-style: normal;
  }